/* CSS First Adjustment*/

* {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */

#bar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#bar ul {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

#bar ul li {
    list-style: none;
    font-size: 20px;
}

#bar ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
}

#bar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}


/* Services */

#services {
    margin: 35px;
    display: flex;
}

#services .box {
    border: 2px solid darkred;
    padding: 35px;
    margin: 75px;
    border-radius: 25px;
    background: whitesmoke;
    margin-bottom: 20px;
}

#services .box img {
    height: 150px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Local Suppliers Section */

#local-suppliers {
    position: relative;
}

#supplier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.supplier-logo {
    padding: 35px;
}

#supplier img {
    height: 150px;
}




